{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array  services    Open311 service information
 * @param string group_name
 * @param string group_code
#}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section id="chooseService">
    <header>
        <nav>Progress:
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{ uri('home.index') }}">1</a></li>
                <li class="page-item active"  ><a class="page-link">2</a></li>
                <li class="page-item disabled"><a class="page-link">3</a></li>
                <li class="page-item disabled"><a class="page-link">4</a></li>
            </ul>
        </nav>
        <h2>{{ group_name }}</h2>
    </header>
    <div class="list-group">
    {% for s in services %}
        <a href="{{ uri('home.contact', {'service_code':s.service_code, 'group_code':group_code}) }}"
           class="list-group-item list-group-item-action">
           {{ s.service_name }}
        </a>
    {% endfor %}
    </div>
</section>
{% endblock %}
