{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array groups
#}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section id="chooseGroup">
    <div class="list-group">
    {% for code, group in groups %}
        <a href="{{ uri('home.service', {'group_code':code}) }}"
           class="list-group-item list-group-item-action">
           {{ group }}
        </a>
    {% endfor %}
    </div>

    <p><strong>Note:</strong> If an Emergency, dial 911.</p>
</section>
{% endblock %}
