{% extends "html/layouts/default.twig" %}

{% block content %}
<section class="container my-3">
    <header>
        <h1>About Ureport</h1>
        <hr>
    </header>
</section>

<section class="container my-3">
    <header>
        <h2>Notice</h2>
        <hr>
    </header>
    <h3>Non-Emergency Use Only</h3>
    <p><strong>If this is an emergency, please dial 911.</strong></p>
    <p>This system is not for reporting emergencies or imminent safety hazards.</p>
    <p>If this is a safety hazard that could cause an injury, please immediately call City of Bloomington Utilities at <a href="tel:812-339-1444">812-339-1444</a>.</p>
    <p>When in doubt, please call, even if you are not sure.</p>
    <p>You may also send an e-mail directly to <a href="mailto:info@bloomington.in.gov">info@bloomington.in.gov</a>, or call City Hall at <a href="tel:812-349-3400">812.349.3400<a/>.</p>
</section>
<section class="container my-3">
    <header>
        <h2>Public Record</h2>
        <hr>
    </header>
    <p>Information you provide through uReport is stored and retained by the City as a public record.</p>
</section>
<section class="container my-3">
    <header>
        <h2>Tickets</h2>
        <hr>
    </header>
    <p>Tickets may be viewed by searching for your ticket number at <a href="https://bloomington.in.gov/crm/ ">uReport - CRM</a>.</p>
</section>
{% endblock %}