{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array groups
#}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section id="chooseGroup">
    {% for code, group in groups %}
    <div>
        <a href="{{ uri('home.service', {'group_code':code}) }}">{{ group }}</a>
    </div>
    {% endfor %}

    <p><strong>Note:</strong> If an Emergency, dial 911.</p>
</section>
{% endblock %}
