{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param int service_request_id
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="jumbotron">
    <header>
        <h1>Thanks for the report!</h1>
        <h2>Service Request ID: {{ service_request_id }}</h2>
    </header>
    <a href="https://bloomington.in.gov/crm/tickets/view?ticket_id={{ service_request_id }}"
       class="btn btn-primary" role="button">
       View Ticket
    </a>
</section>

{% endblock %}
