<?php
define('APPLICATION_NAME', 'uReport');

/**
 * URL Generation settings
 *
 * Do NOT use trailing slashes
 *
 * If your site is being proxied, change BASE_HOST to the hostname
 * used for the outside world.
 */
define('BASE_URI' , "{{ ureport_client_base_uri }}");
define('BASE_HOST', isset($_SERVER['HTTP_X_FORWARDED_HOST'])
                        ? $_SERVER['HTTP_X_FORWARDED_HOST']
                        : "{{ ansible_host }}");
define('BASE_URL' , "https://".BASE_HOST.BASE_URI);

$UREPORT = [
    'url'             => "{{ ureport_client_open311.url          }}",
    'jurisdiction_id' => "{{ ureport_client_open311.jurisdiction }}",
    'api_key'         => "{{ ureport_client_open311.api_key      }}"
];

define('GOOGLE_MAPS_API_KEY',  '{{ ureport_client_google_api_key }}');
define('RECAPTCHA_SITE_KEY',   '{{ ureport_client_recaptcha.site_key   }}');
define('RECAPTCHA_SECRET_KEY', '{{ ureport_client_recaptcha.secret_key }}');

define('DATE_FORMAT',    'n/j/Y');
define('TIME_FORMAT',    'g:i a');
define('DATETIME_FORMAT', DATE_FORMAT.' '.TIME_FORMAT);
define('LOCALE', 'en_US');

define('PAGINATION_ITEMS_PER_PAGE', 20);

define('GRAYLOG_DOMAIN', '{{ ureport_client_graylog.domain }}');
define('GRAYLOG_PORT',    {{ ureport_client_graylog.port   }} );
